@media screen and (max-width:649px) {
    .h-a-section {
        margin: 2vw;
        border: 5px solid #2874f0;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .sec-tit {
        background-color: #2874f0;
        color: white;
        padding-left: 2vw;
        padding-bottom: 10px;
        font-size: 1.6rem;
    }

    .home-appliences {
        display: flex;
        gap: 5vw;
        height: 40vh;
        overflow-x: scroll;
    }

    .section-product-anchor {
        background-color: transparent;
        border: none;
        width: 50vw;
    }

    .section-products {
        margin: auto;
        padding: auto;
        height: 35vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-product-img {
        height: 22vh;
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .api-img {
        align-self: center;
        max-height: 100%;
        max-width: 100%;
    }

    .section-product-details {
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .spd-tit {
        font-size: 1.5rem;
    }
}

.section-product-anchor:hover {
    box-shadow: 0 0 5px 2px gray;
}

#res-section {
    display: none;
}

#results {
    display: none;
}

@media screen and (min-width:650px) {
    .h-a-section {
        margin: 2vw;
        border: 5px solid #2874f0;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .sec-tit {
        background-color: #2874f0;
        color: white;
        padding-left: 2vw;
        padding-bottom: 10px;
        font-size: 1.6rem;
    }

    .home-appliences {
        display: flex;
        gap: 4vw;
        height: 40vh;
        overflow-x: scroll;
    }

    .section-product-anchor {
        margin: 15px 0 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        border-radius: 20px;
        border: none;
        width: 15vw;
    }

    .section-products {
        margin-left: 2vw;
        padding: auto;
        height: 35vh;
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .section-product-img {
        align-self: center;
        height: 22vh;
        width: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .api-img {
        max-height: 100%;
        max-width: 100%;
    }

    .section-product-details {
        align-self: center;
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .spd-tit {
        font-size: 1.5rem;
    }
}

.home-appliences::-webkit-scrollbar {
    height: 15px;
}

.home-appliences::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.home-appliences::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #2874f0;
}