.product-pop {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -200px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.fetch-price {
    font-weight: bold;
}

#p-p {
    display: none;
}

.closeBut {
    margin-left: 85vw;
}

.buy-now:hover {
    scale: 1.05;
}

.addtoCart:hover {
    scale: 1.05;
}

.pressedBA {
    opacity: 0.5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.buy-now {
    border: none;
    background-color: #fb641b;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.addtoCart {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    background-color: #ff9f00;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.closeBut:hover {
    box-shadow: 0 0 10px 5px gray;
}

@media screen and (max-width:649px) {
    .product-page {
        width: 80vw;
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 10vw;
        gap: 2vh;
        background-color: white;
    }

    .closeBut {
        height: 3vh;
        width: 3vh;
        border-radius: 50%;
        border: none;
    }

    .product-page-img {
        margin-left: 5vw;
        width: 70vw;
        height: 25vh;
        margin-top: 1vh;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .pro-img-pro-page {
        max-width: 100%;
        max-height: 100%;
    }

    .product-page-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5vw;
        width: 70vw;
    }

    .product-page-details-title {
        font-size: 1.2rem;
        padding-bottom: 5px;
    }

    .product-page-details-spec {
        font-size: 0.9rem;
        padding-bottom: 15px;
    }

    .product-page-buttons {
        display: flex;
        gap: 1vw;
    }

    .buy-now {
        width: 35vw;
        height: 6vh;
    }

    .addtoCart {
        width: 35vw;
        height: 6vh;
    }

    .pro-but-logo {
        height: 4vh;
    }
}

.closeBut {
    background: url("../Assets/icons/close.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (min-width:650px) {
    .product-page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 80vh;
        display: flex;
        margin-left: 15vw;
        flex-direction: row;
        gap: 2vw;
        background-color: white;
    }

    .closeBut {
        height: 3vw;
        width: 3vw;
        border-radius: 20px;
        border: none;
    }

    .product-page-img {
        height: 50vh;
        width: 30vw;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .pro-img-pro-page {
        max-width: 80%;
        max-height: 100%;
    }

    .product-page-details {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .product-page-details-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .product-page-details-spec {
        display: flex;
        flex-wrap: wrap;
        width: 20vw;
        font-size: 1.1rem;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .product-page-buttons {
        margin-top: 5vh;
        display: flex;
        gap: 1vw;
    }

    .buy-now {
        width: 12vw;
        height: 5vh;
    }

    .addtoCart {
        width: 12vw;
        height: 5vh;
    }

    .pro-but-logo {
        height: 4vh;
    }
}